<style type="text/css">
    .filtrosExtrato input[type='text'], .filtrosExtrato textarea, .filtrosExtrato select{
        font-size: 14px;
    }

    .filtrosExtrato .field{
        float: left;
    }
    .filtrosExtrato label{
        font-size: 10px;
        color: #0066cc;
        display: block;
        clear: both;
    }
</style>
<script type ="text/javascript">
    var form = "form[name='{formName}'] "
    var fields = form + "input," + form + "select";
    
    function abrir_extratoNoForm(){
        var test_url = "{search_results}?" + $(form).serialize();
        if(test_url != $.load_url){
            $.load_url = test_url;
            $('#listagem-body').html('<div class="loading_fullscreen">Carregando...</div>');
            $('#listagem-body').load($.load_url);
        }
        
    }
    
    function imprimir_extrato(){
        var print_url = "{print_results}?" + $(form).serialize();
        window.open(print_url, 'print_results');
    }
    
    /*js_extrato*/
    
    $("input[type='reset']").click(function(){
        $('#listagem-left').load('{SITE_PATH}{controller_name}/filtrosExtrato');
    })
</script>

<!--begin form-->
{headers}
<script>
    $(function(){
        <!--begin js-->{js_code}
        <!--end-->
    })
</script>

<div class="filtrosExtrato">
    <h3>{title}</h3>
    <div>{message}</div>
    <form {form_properties}>
        <!--begin form_data--><!--glue-->
        <div class="field">{label}{field}</div>
        <!--end-->
        <div class="erro"></div>
    </form>
</div>
<!--end-->