.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clearfix {
   display: inline-block;
}
 
html[xmlns] .clearfix {
   display: block;
}
 
* html .clearfix {
   height: 1%;
   overflow: visible;
}
.font-bigger{
    font-size: 1.3em;
}
.font-smaller{
    font-size: 0.7em;
}
.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.float-right{
    float: right;
}