<div>
    <table>
        <tr>
            <td valign="top"><strong>Nome:</strong></td>
            <td valign="top">-!name!-</td>
        </tr>
        <tr>
            <td valign="top"><strong>E-mail:</strong></td>
            <td valign="top"><a href="mailto:-!email!-">-!email!- </a></td>
        </tr>
        <tr>
            <td valign="top"><strong>Comentario:</strong></td>
            <td valign="top">-!comment!-</td>
        </tr>
        <tr>
            <td colspan="2"><a href="-!delete!-">-!deletar!-</a></td>
        </tr>
    </table>
</div>