/* 
    Document   : print_form
    Created on : 13/12/2011, 09:46:45
    Author     : juniorfox
    Description:
        Formulários de impressão em geral.
*/

body,td,th {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
#content{
    margin:0 auto;
    width:190mm;
}
h1{
    font-size: 22px;
}
li{
    margin:3px;
    list-style: none;
    display: inline-block;
}
.label{
    font-size: 12px;
}
.value{
    min-width:100px;
    min-height: 22px;
    padding-left: 10px;
}
.textarea{
    display: block;
}