<link rel="stylesheet" type="text/css" href="{SITE_PATH}resources/lofslidernews/css/style1.css" />
<script language="javascript" type="text/javascript" src="{SITE_PATH}resources/lofslidernews/js/script.js"></script>
<script type="text/javascript">
    $(document).ready( function(){	
        var buttons = { previous:$('#lofslidecontent45 .lof-previous') ,
            next:$('#lofslidecontent45 .lof-next') };
						
        $obj = $('#lofslidecontent45').lofJSidernews( { interval : 10000,
            direction		: 'opacitys',	
            easing			: 'easeInOutExpo',
            duration		: 1500,
            auto		 	: false,
            maxItemDisplay  : 4,
            navPosition     : 'horizontal', // horizontal
            navigatorHeight : 32,
            navigatorWidth  : 80,
            mainWidth:850,
            auto:true,
            buttons			: buttons} );	
    });
</script>

<div id="lofslidecontent45" class="lof-slidecontent" style="width:850px; height:300px;">
    <div class="preload"><div></div></div>
    <!-- MAIN CONTENT --> 
    <div class="lof-main-outer" style="width:850px; height:300px;">
        <ul class="lof-main-wapper">
            <li>
                <img width="850px" height="300px" src="{SITE_PATH}resources/lofslidernews/images/thumbl_980x340.png" title="Newsflash 2" >           
                <div class="lof-main-item-desc">
                    <h3><a target="_parent" title="Newsflash 1" href="#Category-1">/ Newsflash 1 /</a> <i> — Monday, February 15, 2010 12:42</i></h3>
                    <h2>Content of Newsflash 1</h2>
                    <p>The one thing about a Web site, it always changes! Joomla! makes it easy to add Articles, content,...
                        <a class="readmore" href="#">Read more </a>
                    </p>
                </div>
            </li> 
            <li>
                <img width="850px" height="300px" src="{SITE_PATH}resources/lofslidernews/images/thumbl_980x340_002.png" title="Newsflash 1" >           
                <div class="lof-main-item-desc">
                    <h3><a target="_parent" title="Newsflash 2" href="#Category-2">/ Newsflash 2 /</a> 	<i> — Monday, February 15, 2010 12:42</i></h3>
                    <h2>Content of Newsflash 2</h2>
                    <p>Joomla! makes it easy to launch a Web site of any kind. Whether you want a brochure site or you are...
                        <a class="readmore" href="#">Read more </a>
                    </p>
                </div>
            </li> 
            <li>
                <img width="850px" height="300px" src="{SITE_PATH}resources/lofslidernews/images/thumbl_980x340_003.png" title="Newsflash 3" >            
                <div class="lof-main-item-desc">
                    <h3><a target="_parent" title="Newsflash 3" href="#Category-3">/ Newsflash 3 /</a> 	<i> — Monday, February 15, 2010 12:42</i></h3>
                    <h2>Content of Newsflash 3</h2>
                    <p>With a library of thousands of free Extensions, you can add what you need as your site grows. Don't...
                        <a class="readmore" href="#">Read more </a>
                    </p>
                </div>
            </li> 
            <li>

                <img width="850px" height="300px" src="{SITE_PATH}resources/lofslidernews/images/thumbl_980x340_004.png" title="Newsflash 5" >            
                <div class="lof-main-item-desc">
                    <h3><a target="_parent" title="Newsflash 4" href="#Category-4">/ Newsflash 4 /</a>	<i> — Monday, February 15, 2010 12:42</i></h3>
                    <h2>Content of Newsflash 4</h2>
                    <p>Joomla! 1.5 - 'Experience the Freedom'!. It has never been easier to create your own dynamic Web...
                        <a class="readmore" href="#">Read more </a>
                    </p>
                </div>
            </li> 

            <li>

                <img src="{SITE_PATH}resources/lofslidernews/images/thumbl_980x340_005.png" title="Newsflash 5" >            
                <div class="lof-main-item-desc">
                    <h3><a target="_parent" title="Newsflash 5" href="#">/ Newsflash 5 /</a>	<i> — Monday, February 15, 2010 12:42</i></h3>
                    <h2>Content of Newsflash 5</h2>
                    <p>Joomla! 1.5 - 'Experience the Freedom'!. It has never been easier to create your own dynamic Web...
                        <a class="readmore" href="#">Read more </a>
                    </p>
                </div>
            </li> 
            <li>

                <img width="850px" height="300px" src="{SITE_PATH}resources/lofslidernews/images/thumbl_980x340_006.png" title="Newsflash 5" >            
                <div class="lof-main-item-desc">
                    <h3><a target="_parent" title="Newsflash 6" href="#">/ Newsflash 6 /</a>	<i> — Monday, February 15, 2010 12:42</i></h3>
                    <h2>Content of Newsflash 6</h2>
                    <p>Joomla! 1.5 - 'Experience the Freedom'!. It has never been easier to create your own dynamic Web...
                        <a class="readmore" href="#">Read more </a>
                    </p>
                </div>
            </li> 
            <li>
                <img width="850px" height="300px" src="{SITE_PATH}resources/lofslidernews/images/thumbl_980x340_007.png" title="Newsflash 5" >            
                <div class="lof-main-item-desc">
                    <h3><a target="_parent" title="Newsflash 7" href="#">/ Newsflash 7 /</a>	<i> — Monday, February 15, 2010 12:42</i></h3>
                    <h2>Content of Newsflash 7</h2>
                    <p>Joomla! 1.5 - 'Experience the Freedom'!. It has never been easier to create your own dynamic Web...
                        <a class="readmore" href="#">Read more </a>
                    </p>
                </div>
            </li> 
            <li>
                <img width="850px" height="300px" src="{SITE_PATH}resources/lofslidernews/images/thumbl_980x340_008.png" title="Newsflash 8" >            
                <div class="lof-main-item-desc">
                    <h3><a target="_parent" title="Newsflash 8" href="#">/ Newsflash 8 /</a>	<i> — Monday, February 15, 2010 12:42</i></h3>
                    <h2>Content of Newsflash 8</h2>
                    <p>Joomla! 1.5 - 'Experience the Freedom'!. It has never been easier to create your own dynamic Web...
                        <a class="readmore" href="#">Read more </a>
                    </p>
                </div>
            </li> 
        </ul>  	
    </div>
    <!-- END MAIN CONTENT --> 
    <!-- NAVIGATOR -->
    <div class="lof-navigator-wapper">

        <div onclick="return false" href="" class="lof-next">Next</div>
        <div class="lof-navigator-outer">
            <ul class="lof-navigator">
                <li><img src="{SITE_PATH}resources/lofslidernews/images/thumbs/thumbl_980x340.png" /></li>
                <li><img src="{SITE_PATH}resources/lofslidernews/images/thumbs/thumbl_980x340_002.png" /></li>
                <li><img src="{SITE_PATH}resources/lofslidernews/images/thumbs/thumbl_980x340_003.png" /></li>
                <li><img src="{SITE_PATH}resources/lofslidernews/images/thumbs/thumbl_980x340_004.png" /></li>    
                <li><img src="{SITE_PATH}resources/lofslidernews/images/thumbs/thumbl_980x340_005.png" /></li>
                <li><img src="{SITE_PATH}resources/lofslidernews/images/thumbs/thumbl_980x340_006.png" /></li>       
                <li><img src="{SITE_PATH}resources/lofslidernews/images/thumbs/thumbl_980x340_007.png" /></li>       
                <li><img src="{SITE_PATH}resources/lofslidernews/images/thumbs/thumbl_980x340_008.png" /></li>       		
            </ul>
        </div>
        <div onclick="return false" href="" class="lof-previous">Previous</div>
    </div> 
    <!----------------- --------------------->
</div> 