#footer{
    width: 850px;
    margin: 0 auto;
    clear: both;
    display: block;
    padding: 0px;
    border: 3px solid #c0c0c0;
    border-bottom:none;
    color: #8c8c8c;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
#footer a, #footer a:link, #footer a:visited{
    color: #8c8c8c;
}

#footer .box{
    float: left;
    margin: 2px 10px;
}
#footer #contato{
    padding: 5px;
    font: 11px Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
}
#footer #contato p{
    margin: 4px;
}
#footer #contato .telefones{
    margin: 0px;
    padding: 1px;
    display: block;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #e3e3e3;
    background: url(/*SITE_PUBLIC_PATH*/resources/templates/site_lcm/images/telephone.svg) 3% center no-repeat #f0f0f0;
}
#footer #contato .telefones p{
    font: 18px Arial, Helvetica, sans-serif;
    text-align: right;
}

#footer #formas_pgto {
  text-align:center;
  width:210px;
  margin:6px 0px 0px 40px;
}

#footer #formas_pgto img{
    margin: 4px;
}
#footer #formas_pgto p{
    margin: 4px;
}
#footer #redes_sociais h4{
    margin: 10px 0px;
    font-size: 14px;
}

#footer #redes_sociais{
    float: right;
}

#footer #redes_sociais .links{
    width: 250px;
}
#footer #redes_sociais .link{
    float: right;
    margin: 10px;
}
#footer .copy{
    clear: both;
    float: none;
    text-align: center;
    font-size: 14px;
    margin: 10px;
}

#footer #menu-inferior{
    margin: 0px;
    padding: 0px;
    background: #c0c0c0;
    text-align: center;
    font-size: 12px;
    color:#fff;
}

#footer #menu-inferior ul{
    float: none;
    clear: both;
    margin: 0px auto;
    display: block;
}

#footer #menu-inferior ul , #menu-inferior ul a, #menu-inferior ul a:link, #menu-inferior ul a:visited{
    color: #fff;
    text-decoration: none;
}

#footer #menu-inferior ul{
    margin:0px;
    padding:0px;
}
#footer #menu-inferior ul li{
    list-style-type: none;
    display: inline-block;
    text-decoration:none;
    padding:0px;
    zoom: 1;
    /*display:inline;*/
}
#footer #menu-inferior ul li a{
    padding:5px;
    display: block;
}
#footer #menu-inferior ul li:hover, .menu-inferior ul li a:hover{
    background:#cdcdcd;
    color:#333;
}

#footer #developer p{
    margin:0px;
    padding: 5px;
    font-size: 11px;
    text-align: center;
}
#footer #developer a{
    color: #8c8c8c;
}