<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="-!SITE_PATH!-resources/css/templates/index/index.css" type="text/css" />
-!template_header!-
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Internit Noticias</title>
-!mainMenu_header!-
</head>

<body>
    <div id="header">
        -!mainMenu!-
    </div>
    <div id="body">
        -!template_body!-
    </div>
</body>
</html>
