<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{program}</title>

        <link href="{SITE_PATH}_template/appTema/cssindex.css" rel="stylesheet" type="text/css" />
        <link href="{SITE_PATH}cliente.css " rel="stylesheet" type="text/css" />
        <script src="{SITE_PATH}_template/phpjfox_framework/jscomplete_ini.js?_={RAND}" type="text/javascript"></script>
        <script src="{SITE_PATH}_template/appTema/jsindex.js" type="text/javascript"></script>

        {template_header}
    </head>

    <body>
        <div id="main_menu"></div>
        <div id="main_body">{template_body}</div>
        <div id="footer"> &copy;{YEAR} - {program} - Desenvolvido por <a href="http://www.juniorfox.net" target="_blank">juniorfox.net</a></div>
    </body>
</html>
