<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="{SITE_PATH}_template/appTema/cssprint.css" rel="stylesheet" type="text/css" />
        <script>
            function imprimir(){
                window.print();
                window.close();
            }
        </script>
    </head>
    <body onload="imprimir()">
        <div id="content">
            {body}
            <div style="clear:both"></div>
        </div>
    </body>
</html>
